<!DOCTYPE html>
<html>
    <head>
        <title>
            HOMEPAGE
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
    
         <div class="container">

          <header>
			<h3><b>KIDNEY DISEASE PREDICTION</b></h3>
			
		</header>
		                 <h1>Let's Build Wellness Rather Than Treat Disease!!</h1>

					<br><br><br><h1><span><u> SEVERE CHRONIC KIDNEY DISEASE (CKD) </u></span></h1></br>
					
<div class="content">
<center>
  
<p>Chronic kidney disease includes conditions that damage your kidneys and decrease their ability to keep you healthy by filtering wastes from your blood. If kidney disease worsens, wastes can build to high levels in your blood and make you feel sick.</p>

					<br><h1><span><u> MILD-MOD CHRONIC KIDNEY DISEASE (NON-CKD) </u></span></h1></br>
<p>Mild to moderate chronic kidney disease (CKD) is a condition where there is damage or reduced function to the kidneys, but the damage is not yet severe enough to require dialysis or kidney transplant.

In mild to moderate CKD, the kidneys are still able to filter waste products from the blood, but not as efficiently as they should. This can lead to an accumulation of waste products in the blood, which can cause a range of symptoms such as fatigue, nausea, and loss of appetite.</p>
                         <br><h1><span><u> END STAGE RENAL DISEASE (ESRD) </u></span></h1></br>
<p>End-stage renal disease (ESRD) is a condition where the kidneys have lost almost all of their ability to function, resulting in a complete or nearly complete failure of the kidneys. ESRD is the final stage of chronic kidney disease (CKD) and is also known as stage 5 CKD.
In ESRD, the kidneys are no longer able to effectively remove waste and excess fluid from the body, leading to a buildup of toxins in the blood and other fluids. This can cause a range of symptoms such as fatigue, nausea, vomiting, and fluid retention. ESRD is a serious and life-threatening condition that requires prompt and ongoing treatment.</p>
</p>
</center>

              
	</div>

            
    </body>
</html> 