<!DOCTYPE html>
<html>
    <head>
        <title>
            INDEX PAGE
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
	   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
    
         <div class="container">
            <div class="form-box">
                <h1 id="title">CONTACT US</h1>
                <form>
                <div class="input-group">
                        <div class="input-field1" id="nameField">
					<center>
                            <h1><b>Arava Anantha Rao</b></h1>
					</center>
                        </div>
					<br><br>
                    
                        <div class="input-field0">
                           <i class="fa-brands fa-facebook size"></i>
					<i class="fa-brands fa-instagram size"></i>
					<i class="fa-brands fa-twitter size"></i>
					<i class="fa-brands fa-github size"></i>
					<i class="fa-brands fa-linkedin size"></i>
					
                        </div>
				<div class="input-field1" id="nameField" align="center">
					<p>9966337813</p>
					<p>aravaanantharao@gmail.com</p>
				</div>
                    </div>
                        <div class="btn-field">
                            <a href="/"><button type="button" class="sign" id="signupBtn">THANK YOU!!!</button></a>
                            
                        </div>
               
                   
                
            </form>
            </div>
         </div>
         
    </body>
</html> 