<!DOCTYPE html>
<html>
    <head>
        <title>
            INDEX PAGE
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
    
         <div class="container">
		<br><br><br>
            <h1>KIDNEY DISEASE PREDICTION</h1>
            <div class="form-box">
                <h1 id="title">Forgot Password</h1>
            <form method="POST">
                <div class="input-group">
                        

                    
                        <div class="input-field">
                            <input type="email" name="email" placeholder="Enter Your Email:" required>
                        </div>

    
                    
                        <div class="btn-field">
                            <button type="submit" class="sign" id="signupBtn">Reset</button>
                           
                        </div>
               
                   </div>
                
            </form>
            </div>
         </div>
         
         </script>
    </body>
</html> 