<!DOCTYPE html>
<html>
    <head>
        <title>
            HOMEPAGE
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
    
         <div class="container">

          <header>
			<h3><b>CHRONIC KIDNEY DISEASE PREDICTION</b></h3>
			<ul>
				<li><a href="#one">Home</a></li>
				<li><a href="/seven">Upload Dataset</a></li>
                <li><a href="/prediction">Prediction</a></li>
				<li><a href="/accuracy">Accuracy</a></li>
                <li><a href="/metrices">Metrices</a></li>
                <li><a href="/graph">Comparison</a></li>
				<li><a href="/fourth">ContactUS</a></li>
                <li><a href="/">Log Out</a></li>
			</ul>
		</header>
		             

					
		<br><br><br>  <br><br><br> <br><br><br><br><br><br><br>			
<div class="content" >
<center>
   <h1><span style="border:7px solid #fff; padding:20px;">Prediction Using Machine Learning Algorithms!!</span></h1>

</center>

                       

	</div>

            
    </body>
</html> 