<!DOCTYPE html>
<html>
    <head>
        <title>
            SECOND PAGE
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}">
    </head>
    <body>
	<center>
		
        <div class="container">
			<br>
            <h1>PREDICTION USING KNN ALGORITHM:{{ prediction }}</h1>
		 
           	<br><br>
               <div class="btn1">
                   	<a href="/"><button style="" type="submit" id="signupBtn">HOME</button></a>
                     
                </div>
                   
                
           
            </div>
    </center>
         </body>
         </html>
         
               